/* &display=swap */
@import "null.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
@font-face {
	font-family: "Ubuntud";
	src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

body {
}
.wrapper {
	font-family: Nunito;
	padding: 0px 15px;
}
.main {
}
.name {
	font-size: 20px;
	font-weight: 600;
	margin: 20px 0;
	text-align: center;
}
.width-test {
}
.width {
	width: 500px;
}
.text {
	margin: 0px 0px 15px 0px;
}
.blue-text {
	color: blue;
}
.max-width {
	max-width: 700px;
}
.min-width {
	min-width: 500px;
}
.width-procent {
	width: 30%;
}
.bold {
	font-family: Ubuntud;
}
.title {
	text-align: center;
	font-weight: 900;
	color: rgb(34, 34, 255);
	margin: 0px 0px 15px 0px;
}
.grey {
	color: gray;
}
.height-test {
}
.height {
	height: 150px;
}

.min-height {
	min-height: 200px;
}
.max-height {
	max-height: 150px;
}

.alignment {
	width: 50%;
	margin: 0 auto 15px;
}
.auto {
	overflow: auto;
	white-space: nowrap;
	height: 100px;
}
.scroll {
	overflow: scroll;
}
.hidden {
	overflow: hidden;
}
.inlain-block {
	display: inline-block;
	width: 500px;
}
img {
	width: 300px;
}

/* вторая страница */
.wrapper-2 {
	width: 100%;
}
.main-2 {
	font-family: Lato;
	max-width: 810px;
	height: 100%;
	margin: 0 auto;
}
.title-figma {
	font-weight: 900;
	font-size: 46px;
	line-height: 1.3;
	color: #1e212c;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin: 0px 0px 92px 0px;
}
.img {
	min-width: 100%;
	margin: 0px 0px 60px 0px;
}
.text {
	margin: 0px 0px 24px 0px;
}
.bold {
	font-weight: 700;
}
li {
	margin: 0px 0px 4px 0px;
}
.end {
	margin: 0px 0px 24px 0px;
}
.margin {
	margin: 48px 0px 48px 58px;
}

.figma {
	font-size: 25px;
	color: blue;
	text-align: center;
}
